
<div class="login-card">
  <mat-card>
    <mat-card-title class = login-text>
      Sign Up
    </mat-card-title>
    <mat-form-field>
      <input matInput placeholder = "Username/Email">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder = "Password">
    </mat-form-field>
    <br>
    <button mat-raised-button class = "login-buttons" (click) = "signUp()">Signup</button>
    <button mat-raised-button class = "login-buttons" (click) = "cancel()">Cancel</button>
  </mat-card>
</div>
